@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.btn {
  display: inline-block;
  background: $primary-4;
  color: $white;
  padding: 0.25rem 0.75rem;
  border-radius: $radius;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: $spacing;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: $transition;

  &:hover {
    background: $primary-0;
    color: $primary-8;
  }
}
